﻿@model di_test_20140420.ViewModels.BandEventVM 

@{
    ViewBag.Title = "Search for events from band name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/BandEvent.js"></script>
@Html.HiddenFor(X=> X.EventsAsJson)

<div>
    <table class="rwd-table" id="eventTable">
        <tr>
            <th>
                HeadLiner    
            </th>
            <th>
                City
            </th>
             <th>
                Date    
            </th>
            <th>
                Venue
            </th>
             <th>
                Other artists    
            </th>
            <th>
                Url
            </th>

        </tr>
    </table>
</div>



@using (Html.BeginForm("SearchForBands","BandEvent"))
{
    <label class="left">Search for band events</label>
    <div class="clear"></div>
    <div class="left">
        @Html.TextBoxFor(X=> X.SearchText)
    </div>
    <div class="left">
        <input type="submit" value="Search"/>
    </div>
    <div class="clear"></div>
}



<script type="text/javascript">
    InitHome();
</script>