﻿@model di_test_20140420.ViewModels.BandVM 

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/Home.js"></script>
@Html.HiddenFor(X=> X.BandsAsJson)

<div>
    <table class="rwd-table"  id="bandTable">
        <tr>
            <th>
                BandName    
            </th>
            <th>
                Origin
            </th>
        </tr>
    </table>
</div>
<div>

@using (Html.BeginForm("GetBandByPrefix","Home"))
{
    <label class="left">Search for band</label>
    <div class="clear"></div>
    <div class="left">
        @Html.TextBoxFor(X=> X.SearchText)
    </div>
    <div class="left">
        <input type="submit" value="Search"/>
    </div>
    <div class="clear"></div>
}
</div>

<div class="left">
    <a href="@Url.Action("Index","BandEvent")">Go to band events page</a>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    InitHome();
</script>