﻿@model _20150519_DEBUGGING.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Home.js"></script>


<h1>Fish library</h1>


<div>
    @using (Html.BeginForm())
    {
        <div>
            <select onchange="DisplayFish(this.value)">
                <option value="All" selected="selected">All</option>
                @foreach (var fish in Model.Fishes)
                {
                   <option value="@fish.Name">@fish.Name</option>
                }
            </select>           
        </div>
    }

</div>


@foreach (var fish in Model.Fishes)
{
    var imagePath = "/Content/" + fish.ImageKey + ".jpg";

    <div id="@fish.Name" class="fishcontainer">
     
        <div class="modal-title">
            <h1><b>@fish.Name</b></h1>
        </div>
        <div class="text-info">
            @fish.Description
        </div>
        <div class="glyphicon-picture">
            <img src="@imagePath" />
        </div>
    </div>
}

<script type="text/javascript">

 

</script>